{{#each bookmarks}}
  <div class="{{#if @first}}selected {{/if}}result box">
    <div class="path">{{{highlight 'path' ../query}}}</div>
    <a href="{{url}}" target="new">{{{highlight 'url' ../query}}}</a>
  </div>
{{else}}
  No results found.
{{/each}}
