<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Bookmarkr</title>
    <link rel="stylesheet" href="css/kaleidoscope.css" />
    <link rel="stylesheet" href="css/popup.css" />
  </head>
  <body>
    <div class="box">
      <input id="input" class="input large" type="text" placeholder="Begin typing...">
      <div id="results"></div>
    </div>
    <script src="js/handlebars-v3.0.1.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/popup.js"></script>
  </body>
</html>
